@page
@model MangaExpressController.Areas.Identity.Pages.AdminP.IndexAdminModel
@{
    Layout = "_LayoutAdmin";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MangaExpress</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mangasLayout.css" />
    <link rel="stylesheet" href="~/css/mangas.css">
</head>

<div class="container-fluid text-center mb-4">
    <h2 style="color: royalblue;">Bienvenido a la página de administrador</h2>

</div>
<div class="container-fluid text-center mb-4"><img src="~/images/Anya.png" width="300" height="300" style="opacity: 40%;" /></div>
<div class="container-fluid text-center mb-4"><img src="~/images/logo2.png" width="500" height="150" style="opacity: 40%;" /></div>
